<div class="container mt-4">
  <h2>Fale Conosco</h2>
  <form (ngSubmit)="onSubmit()" #contactForm="ngForm">

    <!-- Nome -->
    <div class="input-group input-container">
      <input 
        class="input" 
        required 
        autocomplete="off" 
        type="text" 
        name="name" 
        id="name"
        [(ngModel)]="contact.name">
      <label class="label" for="name">Nome</label>
    </div>

    <!-- Email -->
    <div class="input-group input-container">
      <input 
        class="input" 
        required 
        autocomplete="off" 
        type="email" 
        name="email" 
        id="email"
        [(ngModel)]="contact.email">
      <label class="label" for="email">E-mail</label>
    </div>

    <!-- Telefone -->
    <div class="input-group input-container">
      <input 
        class="input" 
        required 
        autocomplete="off" 
        type="tel" 
        name="phone" 
        id="phone"
        [(ngModel)]="contact.phone">
      <label class="label" for="phone">Telefone</label>
    </div>

    <!-- Botão de envio -->
    <button 
      type="submit" 
      class="btn btn-primary" 
      [disabled]="contactForm.invalid">
      Enviar
    </button>
  </form>

  <!-- Modal para exibir os dados inseridos -->
  <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="contactModalLabel">Dados do Contato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        @for (dados of contactList; track $index) {
          <div class="modal-body">
            <p><strong>Nome:</strong> {{ dados.name }}</p>
            <p><strong>Email:</strong> {{ dados.email }}</p>
            <p><strong>Telefone:</strong> {{ dados.phone }}</p>
          </div>
        }
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>